/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Verde claro */
    color: #003366; /* Azul marinho */
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: #f0f8ff;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px;
    }
    
    .social-links {
       margin-right: 50px;
        gap: 3px; /* Espaço entre os ícones */
        color: white;
        /* width: 84px;
        height: 84px; */
        align-items: center;
    }
    
    .social-links a {
        text-decoration: none;
    }
    
    .social-links img {
        width: 24px; /* Ajuste o tamanho conforme necessário */
        height: 24px;
    }

header img {
    background-color: #003366;
    border-radius: 50%;
    padding-top: 10px;
    /* margin-left: 60px;  */
    padding: 10px;  
}
header h1{
    /* margin-left: 10px; */
    margin-top: 50px;
    align-items: flex-start;
    font-weight: bold;
}

main {
    padding: 20px;
}

.logo{
    text-align:left;
    border-radius:50%;
    width:160px;
    height:150px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.produto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.promocao {
    background-color: #ffcc00; /* Amarelo */
    color: #003366; /* Azul marinho */
    padding: 10px;
    border-radius: 5px;
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.whatsapp-link {
    display: inline-block;
    background-color: #25d366;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.whatsapp-link img {
    vertical-align: middle;
    margin-right: 10px;
   
}

footer {
    background-color: #003366;
    color: #f0f8ff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}